langchain
langchain_groq
langchain-community
langchain-experimental
langgraph
fastapi
python-dotenv
uvicorn
pydantic
httpx
requests
langchain_google_community
langchain_tavily
langchain_openai
langchain-huggingface
streamlit
torch>=2.0.0
torchvision>=0.15.0
Pillow>=9.0.0
bing-image-downloader>=1.1.2
scikit-learn>=1.2.0
tqdm>=4.65.0
matplotlib>=3.5.0
langchain-google-community[places]
python-multipart